* {
  box-sizing: border-box;
}
body {
  font-family: Trip Sans;
}

.container {
  background-color: white;
  border: solid white;
  width: 1024px;
  margin: auto;
}

/* --------HEADER------ */
header img {
  width: 150px;
}

/* Logos */
nav {
  display: flex;
}
nav > ul {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding: 10px;
  column-gap: 50px;
  align-items: baseline;
}
nav > ul > a {
  color: inherit;
  text-decoration: none;
}
header a:hover {
  background-color: lightgrey;

  border-radius: 2px;
}

.fa-regular fa-pen-to-square {
  height: 20px;
  color: #3b3b3b;
}
.fa-solid fa-plane-departure {
  height: 20px;
  color: #3b3b3b;
}

.fa-regular fa-bell {
  height: 20px;
  color: #3b3b3b;
}

.log-in {
  background-color: #3b3b3b;
  color: whitesmoke;
  padding: 7px 7px;
  border-radius: 15px;
  font-style: bold;
  border: #3b3b3b solid;
}

.fa-solid fa-basket-shopping {
  height: 20px;
  color: #3b3b3b;
}
/* -------MAIN------ */
h1 span {
  color: #fe5d5d;
}
h1 {
  color: black;
  font-size: 40px;
  font-weight: 1000;
  font-family: Google Sans;
  padding: 50px 0px;
}
h2 {
  color: black;
  font-size: 28px;
  font-weight: 1000;
}
h3 {
  font-size: 24px;
}

.subtitle {
  font-size: 10px;
  padding-bottom: 20px;
}
a {
  color: black;
}
/* .menu {
  display: flex;
  border: #fe5d5d solid;
} */

.menu {
  display: flex;

  gap: 10px;

  margin-bottom: 20px;
}

.menu a {
  display: flex;
  /* column-gap: 80px; */
  flex: 1;
  /*flex-direction: row-reverse;*/
  border: black solid;
  border-width: 1px;
  padding: 10px;
  gap: 25px;
  margin: 0;
  border-radius: 10px;
  justify-content: space-between;
  flex-direction: row-reverse;
}
/* ImaegsBloc */
.imagebloc {
  height: 430px;
  /* border: 1px solid black; */
  display: flex;
  gap: 2px;
}
.col1 img {
  height: 50%;
  width: 100%;
}

.textAndMap {
  height: 400px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 30px;
}
.villeDescription {
  height: 100%;
  width: 60%;
}

.Map {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  border-color: purple solid;
}
.Map a {
  text-decoration: none;
  background-color: #333333;
  color: white;
  width: 50%;
  height: 25%;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
}
.mapTop {
  width: auto;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fe5e5e;
  color: white;
  align-items: center;
  padding: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.mapBottom {
  width: auto;
  height: 50%;
  display: flex;
}
.mapBottom img {
  flex: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Must do in the city */

.les-immanquables {
  padding: 30px 0px;

  width: 1000px;
}
.carousel {
  border-width: 1px;
  height: 300px;
  display: flex;
  width: 100%;
  /* padding-bottom: 50px; */
}
.entertainment {
  width: 25%;
  height: 200px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.entertainment p {
  padding-top: 20px;
  line-height: 20px;
  justify-content: center;
}
.monument {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  display: flex;
  border-width: 5px;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;

  gap: 5px;
}

.picture {
  height: 80%0%;
  flex-shrink: 0;
  position: relative;
}
.picture img {
  height: 50%;
}
.picture p {
  font-weight: bold;
}
.heart {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
  border: #333333 solid;
  padding: 10px;
  border-radius: 50%;
}
.badge {
  position: absolute;
  background-color: #f1b202;
  height: 35px;
  width: 30px;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  top: 95px;
  left: 10px;
  text-align: center;
}
.rate {
  display: flex;
  gap: 20px;
  padding-top: 5px;
}
.rate li {
  height: 15x;
  width: 15px;
  color: #04a96c;
  border-radius: 50%;
  list-style-type: none;
}
/* ------MEDIA QUERIES----- */
@media (max-width: 1184px) {
  .imagebloc > img {
    height: 100%;
  }
  /* Rules */
}
@media (max-width: 1024px) {
  /* Rules */
}
@media (max-width: 768px) {
  /* Rules */
}
